<%= link_to 'Back', @task.project, class: 'btn btn-secondary btn-sm mb-3' %>

<div class="card">
  <div class="card-body">
    <h2 class='card-title mb-4'>
      <span>Editing Task</span>
    </h2>

    <%= render 'form' %>
  </div>
</div>
